.App {
  background-color: #282c34;
  height: 100vh;
  position: relative;
}

.App_wraper{
  width: min(100%, 720px);
  margin: 0px auto;
  height: 100%;
  /* background-color: #282c3490; */
  background-color: rgba(255, 255, 255, 0.20);
}

.Holst{
  height: 100%;
  width: 100%;
  z-index: 1;

}

.dot{
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
}

.dot_Box{
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing:border-box;
  position: fixed;
  z-index: 10;
  padding: 10px;
}
.modal {
  width: 100%;
  display: flex;
}
.modal input{
  width: 75%;
  padding: 0 10px;
  margin: 0 auto;
  background-color:inherit;
  border-radius: 15px;
  box-shadow: 0 0 0 1px black;
}
.Comment{
  width: calc(100%-10px);
  padding: 5px;
  word-wrap: break-word;
  text-align: center;
  border-radius: 10px;
  
}